<h3>Edit Item</h3>
<div class="row">
  <form class='form-horizontal'>
    <div class="form-group">
      <label class="control-label col-md-2">Item Name: </label>
      <div class="col-md-3">
        <input class="form-control" name='txtItemName' [(ngModel)]="editItem.name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2">Categories: </label>
      <div class="col-md-3">
        <table class='table'>
          <tr *ngFor='let cat of editItem.categories'>
            <td>{{cat.name}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="form-group">
      <div class='col-md-5'>
        <div class="btn-toolbar pull-right">
          <button type="button" class="btn btn-primary" (click)="UpdateClick()">Update</button>
          <button type="button" class="btn" (click)="CancelClick()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>