<h4>Edit Category</h4>

<form #catForm="ngForm">
  <input type="hidden" name="categoryId" ngModel #catId="ngModel" />
  <mat-form-field>
    <input
      matInput
      placeholder="Category Name"
      name="name"
      ngModel
      required
      #catName="ngModel"
    />
    <mat-error *ngIf="!catName.valid && catName.touched">
      Category name is required.
    </mat-error>
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-select placeholder="Items" name="itemIds" ngModel multiple>
      <mat-option
        *ngFor="let item of (itemsListObservable | async)"
        [value]="item.itemId"
      >
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <a
      mat-raised-button
      [disabled]="!catForm.valid && catForm.touched"
      (click)="UpdateClick()"
    >
      Update
    </a>
    &nbsp; <a mat-raised-button (click)="CancelClick()"> Cancel </a>
  </div>
</form>
